.newRecordForm .label {
    margin-top : 1rem;
}

.formRow {
    display : flex;
    margin-bottom : 0.5rem;
}

.formCell {
    margin-right : 0.5rem;
}

.formBtn {
    margin-bottom : 2rem;
}

.options {
    display : flex;
}

.options .optionBtn {
    margin-right : 0.5rem;
}